<div class="container">
  <form #inputForm="ngForm" class="col-md-4"
    (submit)="onSubmit(); inputForm.reset()">
    <h1>Input Form</h1>
    {{diagnostic}}
    <div class="form-group">
      <label for="num">Input Value</label>
      <input type="number" class="form-control" id="num" 
        required
        [(ngModel)]="input.inputNumber" name="num"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Input Value is required
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>